/*https://coolors.co/aaa5ac-72867c-fcfbfa-e8d2e0-756064-88aebd-5292c0-debfc3*/
:root {

	--french-gray:
	/*#AAA5AC;*/
		#eee;

	--battleship-gray:
	/*#72867C;*/
		#111;

	--white:
	/*#FCFBFA;*/
	#fff;

	--pale-purple:
	/*#E8D2E0;*/
	#eee; 


	--coffee:
	/*#756064;*/
	#88AEBD;


	--cadet-gray:
	#88AEBD;


	--celestial-blue:
	/*#5292C0;*/
	#88AEBD;

	--tea-rose:
	/*#c1cfc1;*/
	#eee; 
	
	--examples:
	/*#ece9e6; */
	#fff; 

}

/* old tea rose  
#DEBFC3; 
*/ 

