/*https://coolors.co/aaa5ac-72867c-fcfbfa-e8d2e0-756064-88aebd-5292c0-debfc3*/
:root {

	--french-gray:
	#AAA5AC;

	--battleship-gray:
	#72867C;

	--white:
	#FCFBFA;

	--pale-purple:
	#E8D2E0;


	--coffee:
	#756064;


	--cadet-gray:
	#88AEBD;


	--celestial-blue:
	#5292C0;

	--tea-rose:
	#c1cfc1;
	
	--examples:
	#ece9e6; 

}

/* old tea rose  
#DEBFC3; 
*/ 

